 body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: teal;
}

.main {
    height: 100vh;              /*Full screen height*/
    display: flex;              /*Enable flexbox*/
    flex-direction: column;   /*  Stack elements vertically*/
    justify-content: center;    /* Center vertically */
    align-items: center;        /* Center horizontally */
}

.text {
    color: white;
    /* size: 500px; */
    text-decoration: wavy;
    /* font-style: bold; */
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    margin-bottom: 20px;
    font-size: 28px;
}

/* BUTTONS */
.btn {
  font-size: 1.8rem;
  padding: 1rem 0;
  width: 20rem;
  text-align: center;
  border: 0.1rem solid #56a5eb;
  margin-bottom: 1rem;
  text-decoration: none;
  color: #56a5eb;
  background-color: white;
}

.btn:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
  transform: translateY(-0.1rem);
  transition: transform 150ms;
}

.btn[disabled]:hover {
  cursor: not-allowed;
  box-shadow: none;
  transform: none;
}
